.notification-item {
    cursor: pointer;
    transition: all 0.3s ease;
}

    .notification-item.unread .notification-text {
        font-weight: bold;
        color: #333;
    }

    .notification-item .notification-text {
        font-weight: normal;
        color: #888;
    }

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #ebedf3;
}

.accordion-open {
    background-color: #f1faff;
}

.notification-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ebedf3;
    border-radius: 0.42rem;
}

.read-indicator {
    font-size: 12px;
    margin-left: 10px;
}

.read {
    color: #28a745;
}

.unread {
    color: #dc3545;
    font-weight: bold;
}

.notification-checkbox {
    margin-right: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ebedf3;
}

.notification-item:hover {
    background-color: #f1faff;
}

#markReadBtn {
    height: 40px;
    padding: 0 20px;
}

.rotate-icon {
    transition: transform 0.3s ease;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.rotate-down {
    transform: rotate(180deg);
}

.icon-container {
    display: flex;
    align-items: center;
}

.deduct-padding-top-40 {
    padding: 0 2.25rem 2rem 2.25rem !important;
}

.font-weight-200 {
    font-weight : 200 !important;
}

#btnSelectAll {
    transition: opacity 0.2s ease-in-out;
}

/* Optional: Add hover effect for button */
#btnSelectAll:hover {
    background-color: #d4edda;
    border-color: #c3e6cb;
}


