#msg {
    visibility: hidden;
    color: red;
    font-weight: bold;
    font-size: 22px;
    font-family: Verdana;
}


.audio-controls {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
}

.audio-controls button {
    margin: 0px 5px;
}


.app {
    text-align: center;
    padding-top: 20px;
}

.mic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mic-container .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    position: relative;
}

    .mic-container .circle i {
        color: #b2b1b1;
        font-size: 23px;
        transition: 0.9s;
    }

    .mic-container .circle:before {
        content: "";
        width: 150px;
        height: 150px;
        border-radius: 50%;
        opacity: 0.2;
        z-index: -1;
        position: absolute;
    }

    .mic-container .circle.active {
        background: #ff0000;
    }

        .mic-container .circle.active:before {
            background: gray;
            animation: bounce 0.8s ease-in-out infinite 0.5s;
        }

        .mic-container .circle.active i {
            color: #ffffff;
        }

.preloader {
    text-align: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc; /* Light gray border */
    border-top: 5px solid #3498db; /* Blue border */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.text {
    font-size: 18px;
    color: #333;
}

/* Animation for spinning effect */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.4);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

