@import url(https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA);

.lst-kix_uwdukespy95u-8 > li:before {
    content: "\0025a0   "
}

.lst-kix_uwdukespy95u-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_uwdukespy95u-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_uwdukespy95u-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_pnrk3hbqh0yw-0 > li:before {
    content: "\0025cf   "
}

.lst-kix_uwdukespy95u-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_uwdukespy95u-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_uwdukespy95u-0 > li:before {
    content: "\0025cf   "
}

.lst-kix_pnrk3hbqh0yw-6 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_uwdukespy95u-7 {
    list-style-type: none
}

.lst-kix_pnrk3hbqh0yw-7 > li:before {
    content: "\0025cb   "
}

ul.lst-kix_uwdukespy95u-8 {
    list-style-type: none
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_pnrk3hbqh0yw-8 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_uwdukespy95u-1 {
    list-style-type: none
}

ul.lst-kix_uwdukespy95u-2 {
    list-style-type: none
}

.lst-kix_pnrk3hbqh0yw-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_pnrk3hbqh0yw-3 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_uwdukespy95u-0 {
    list-style-type: none
}

ul.lst-kix_uwdukespy95u-5 {
    list-style-type: none
}

ul.lst-kix_uwdukespy95u-6 {
    list-style-type: none
}

ul.lst-kix_pnrk3hbqh0yw-8 {
    list-style-type: none
}

ul.lst-kix_uwdukespy95u-3 {
    list-style-type: none
}

.lst-kix_pnrk3hbqh0yw-2 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_uwdukespy95u-4 {
    list-style-type: none
}

ul.lst-kix_pnrk3hbqh0yw-6 {
    list-style-type: none
}

ul.lst-kix_pnrk3hbqh0yw-7 {
    list-style-type: none
}

ul.lst-kix_pnrk3hbqh0yw-4 {
    list-style-type: none
}

.lst-kix_uwdukespy95u-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_pnrk3hbqh0yw-5 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_pnrk3hbqh0yw-5 {
    list-style-type: none
}

ul.lst-kix_pnrk3hbqh0yw-2 {
    list-style-type: none
}

.lst-kix_uwdukespy95u-7 > li:before {
    content: "\0025cb   "
}

ul.lst-kix_pnrk3hbqh0yw-3 {
    list-style-type: none
}

ul.lst-kix_pnrk3hbqh0yw-0 {
    list-style-type: none
}

ul.lst-kix_pnrk3hbqh0yw-1 {
    list-style-type: none
}

.lst-kix_pnrk3hbqh0yw-4 > li:before {
    content: "\0025cb   "
}

ol {
    margin: 0;
    padding: 0
}

.c17 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #cccccc;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #cccccc;
    vertical-align: bottom;
    border-right-color: #cccccc;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 63.8pt;
    border-top-color: #cccccc;
    border-bottom-style: solid
}

.c9 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #cccccc;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #cccccc;
    vertical-align: bottom;
    border-right-color: #cccccc;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 126.8pt;
    border-top-color: #cccccc;
    border-bottom-style: solid
}

.c7 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #cccccc;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #cccccc;
    vertical-align: bottom;
    border-right-color: #cccccc;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 62.2pt;
    border-top-color: #cccccc;
    border-bottom-style: solid
}

.c1 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #cccccc;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #cccccc;
    vertical-align: bottom;
    border-right-color: #cccccc;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 85.5pt;
    border-top-color: #cccccc;
    border-bottom-style: solid
}

.c18 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #cccccc;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #cccccc;
    vertical-align: bottom;
    border-right-color: #cccccc;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 129.8pt;
    border-top-color: #cccccc;
    border-bottom-style: solid
}

.c8 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c27 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 11pt
}

.c12 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c37 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c19 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: normal
}

.c13 {
    padding-top: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c25 {
    padding-top: 12pt;
    padding-bottom: 2pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c2 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c24 {
    color: #0000ff;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c22 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c10 {
    padding-top: 12pt;
    padding-bottom: 2pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c3 {
    padding-top: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c20 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c15 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify;
    height: 11pt
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: justify;
    height: 11pt
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: justify
}

.c32 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify
}

.c41 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

table.c41 tbody tr td {
    align-content: center;
    padding-left: 5px;
}

.c28 {
    background-color: #ffffff;
    padding: 14.4pt 72pt 72pt 72pt
}

.c23 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c46 {
    orphans: 2;
    widows: 2
}

.c39 {
    color: #000000;
    font-size: 11pt
}

.c35 {
    color: black;
    font-size: 11pt
}

.c21 {
    font-weight: 400;
    font-family: "Calibri"
}

.c30 {
    padding: 0;
    margin: 0
}

.c36 {
    height: 31.6pt
}

.c44 {
    height: 32.4pt
}

.c31 {
    height: 30.9pt
}

.c34 {
    height: 80.2pt
}

.c38 {
    height: 32.2pt
}

.c43 {
    height: 65.2pt
}

.c29 {
    height: 36.8pt
}

.c45 {
    height: 11pt
}

.c16 {
    height: 14pt
}

.c26 {
    height: 33.8pt
}

.c33 {
    height: 23.2pt
}

.c40 {
    height: 47.1pt
}

.c42 {
    height: 24.8pt
}

.c14 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.textbox-field {
    height: 35px;
    width: 300px;
    display: block;
    border: 1px solid black;
}

.border-none {
    border: none;
}

.border-top-none {
    border-top: none;
}

.border-left-none {
    border-left: none;
}

.border-right-none {
    border-right: none;
}

.border-bottom-2 {
    border-bottom: 2px solid black !important;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-10{
    margin-bottom:10px;
}

.d-block{
    display:block;
}